 *{
    box-sizing:content-box;
    margin: 0;
    padding: 0;
   background: linear-gradient(#2b1055,#7597de);
}
body{

    background-color: #EEEEEE;
    /* background: linear-gradient(#2b1055,#7597de); */
    /* background: linear-gradient(#2b1055,#7597de); */
    /* background:line; */
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red   ;
}
.box{
    border: 2px solid black;
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
}
#form input,textarea{
    margin: 20px;
    width: 80%;
   
    border: 1px solid #3F4E4F;
}
#form input{
    border: 1px solid #3F4E4F;
    height: 30px;
    padding: 10px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: lightcoral;
} 


/* body {
    padding: 10px 50px;
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid blue;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror {
    color: red;
}

.but {
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px 20px;
} */

/* *{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;

}
h1{
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction:column;
    width: 24rem;
    gap: 1rem;
}
input,
select,
textarea{
    padding: 1.4rem;
    background: transparent;
    border: 1px solid black;
}
textarea{
    height: 6rem;
}
button{
    width: 8rem;
    padding: 1.4rem;
    cursor: pointer;
    background: #673de6;
    color: white;
} */
